span{
    display: inline-block;
    font-family: 'Roboto', 'sans-serif';
    /* font-size: 5.5rem; */
    /* color: white; */
    font-weight:600;
}

span:hover{
    color: #08fdd8;
}
  
@media (max-width: 1070px) {
   
}

.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #08fdd8;
    outline: 1px solid #08fdd8;
    font-family: 'Roboto', 'sans-serif';
    padding: 0.8rem 3rem;
    overflow: hidden;
    transition: color 0.5s;
}

.button:hover {
    color: #090909;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #08fdd8;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 0.5s;
}

.button:hover::before {
    transform: scaleX(1) skewX(35deg);
}



  
